@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}
.limitar-lineas {
  max-height: 3em; /* Ajusta esta altura según la altura de tres líneas de texto */
  overflow: hidden;
  position: relative;
}

.container-card-img{
  background-color: black;
  height: 100%;
}
.card-img{
  margin: auto;
  width: 300px;
  height: 150px;
  object-fit: fill;
  border-radius: 25%;
}